.FoodCatogeriesWrapper {
  margin-right: 2rem;
  border-right: 1px solid var(--ter-black);
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  max-height: 36.5rem;
  position: sticky;
  top: 11rem;
}
.FoodCatogery {
  font-weight: 600;
  font-size: var(--font-15);
  margin-bottom: 0.6rem;
  text-transform: capitalize;
  cursor: pointer;
  align-self: flex-end;
  padding-right: 1.6rem;
  margin-right: 0.4rem;
}
@media only screen and (max-width: 500px) {
  .FoodCatogeriesWrapper {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-right: 0;
    border-right: none;
    border-bottom: 1px solid var(--ter-black);
    padding: 0;
    position: static;
  }
  .FoodCatogery {
    border: none;
    padding: 0;
    margin-right: 0;
  }
}
